/* Scroll bar stylings */
::-webkit-scrollbar {
    width: 4px;
    height: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #528265; /* 핸들의 배경색을 투명하게 설정 */
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3B9E83; /* hover 시 핸들의 배경색을 투명하게 설정 */
  }

  /* 커스텀버튼 */
  .func_btn {
    --bg: #3B9E83;
    --hover-bg: #0fca66;
    --bg-color: #3B9E83;
    --hover-text: black;
    --main-color: #323232;
  
    margin: 5px;
    padding: 0.5em 0.5em;
  
    height: 40px;
    color: whitesmoke; 
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
  
    font-size: 15px;
    font-weight: 400;
  }
  .func_btn:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  .func_btn:active {
    transform: translate(0);
    box-shadow: none;
  }

  .black-box {
    height: 60px;
  }